<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">

   <bean id="b" class="com.me.business.Bank"></bean>
   
   <bean id="lbs" class="com.me.services.LogBeforeService"/>
    
    <bean id = "pfb" class="org.springframework.aop.framework.ProxyFactoryBean">
    	<property name="target" ref="b"/>
    	<property name="interceptorNames" >
    		<list>
    			<value>lbs</value>
    		</list>
    	</property>
    </bean>
    </beans>